/* p{
    color: blue;
    
}
.box{
    height:200px;
    width:200px;
    border:1px solid black;
    background-color: bisque;
    margin:10px;
    padding:25px;


}
#org{
    background-color: brown;
}
#first-para{
    background-color:aqua;
    width:25vw;

} */
.box{
    border:1px solid black;
    height:200px;
    width:150px;
    margin:30px;
    box-shadow: -10px -10px 10px blue,20px 20px 10px red;
    background-image:linear-gradient(red,blue);
    background-image:linear-gradient(to top left,blue,green,red);
    background-image:linear-gradient(45deg,red,blue);
}
.mydiv{
    border:1px solid black;
    height:200px;
    margin:20px;
    width:150px;
    background-image:radial-gradient(red,blue);
    

}
h1{
    text-shadow:3px 3px 3px red;
    text-shadow:3px 3px 3px red,6px 6px 6px green;
}
.p1{
    max-height:100px;
    border:1px solid black;
    overflow:scroll;
}
